body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 10vh;
 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

select, button {
  margin: 10px;
  padding: 10px;
  background-color: #047d7d;
  border: none;
  color: #fff;
}

#hints {
  color: #047d7d;
}
